html,
body {
  /* wrap text */

  word-wrap: break-word;
  min-height: 10vh;
  display: flex;
  flex-direction: inherit;
  flex-wrap: inherit;
  justify-content: center;

  font-size: calc(4px + 2vmin);

  padding-right: 5%;
  padding-left: 5%;
  word-break: break-all;

  align-items: center;

}

.channelLink {
  width: calc(70vmin);
  font-size: calc(2px + 2vmin);

}

p{
  font-size: calc(5px + 2vmin);
}


.results{
  padding-top: 30px;
}
